body {
  margin: 0;
  font-family: 'Segoe UI';
  overflow: hidden;
}

p, li{
  margin: 0;
  color: white;
  opacity: 0;
}

li {
  margin-top: 10px;
}

::-webkit-scrollbar{
  width: 7px;
  height: 0px;
  background-color: #242424;
}

::-webkit-scrollbar-thumb{
  background-color: #0099ff;
}

#wrapper {
  height: 100vh;
  position: relative;
  perspective: 2px;
  overflow-x: hidden;
}

#header {
  height: 100vh;
  width: 100vw;
  background-color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/background.jpg');
  background-position: center;
  background-size: cover;
}

#profile {
  position: absolute;
  height: 75vh;
  width: 100vw;
  top: 60vh;
  background-color: transparent;
  transform: translateZ(-2px) scale(2);
  z-index: 1;
  display: flex;
  flex-direction: row;
}

#profile-content {
  width: 100vw;
  transform: translate(0, -22.5vh);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#profile-content > p {
  font-size: clamp(36px, 5vw, 70px);
  align-self: center;
  text-align: center;
  margin-top: 5vh;
}

#profilePic {
  height: 45vh;
  width: 45vh;
  align-self: center;
  border-radius: 22.5vh;
  background-image: url("./assets/profile.jpg");
  background-size: cover;
  box-shadow: 0px 0px 30px 0.5px #000000;
  opacity: 0;
}

#position {
  font-size: clamp(26px, 3vw, 60px) !important;
}

#foreground {
  position: absolute;
  width: 100vw;
  top: 100vh;
  background-color: #242424;
  z-index: 2;
}

.title{
  font-size: clamp(32px, 4vw, 70px);
  margin: 5vw;
  padding-bottom: 20px;
  border-bottom: solid 2px #0099ff;
}

#lau_subtitle{background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('./assets/education/lau-byblos.jpg');}
#bmw_subtitle{background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('./assets/experience/bmw.jpg');}
#dox_subtitle{background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('./assets/experience/dox.png');
  background-color: white;
}

#lau_subtitle, #bmw_subtitle, #dox_subtitle {
  height: 50vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px 1px black inset;
  font-size: clamp(32px, 4vw, 70px);
  text-align: center;
}

.subtitle > p {
  max-width: 75%;
}

.description {
  margin: 5vw;
  font-size: clamp(22px, 2vw, 40px);
  perspective: 2px;
  overflow-x: hidden;
  max-width: 60%;
}

.description-date {
  color: gray;
  font-size: clamp(18px, 1.5vw, 32px);
}

.description-details {
  display: flex;
  flex-direction: column;
  font-size: clamp(16px, 1.5vw, 30px);
  border-left: solid 2px #0099ff;
  padding-left: 2vw;
  margin-top: 2vw;
  margin-bottom: 2vw;
  overflow-y: hidden;
}

.logo {
  position: fixed;
  width: 10vw;
  opacity: 0;
  right: 4vw;
  transform: translateZ(-0.5px) scale(4);
  z-index: 3;
}

.logo > img {
  width: 10vw;
  filter: drop-shadow(0px 10px 10px black);
}

#projects { 
  height: 50vh;
  background-color: #373737;
  display: flex;
  align-items: center;
  justify-content: start;
  box-shadow: 0px 0px 10px 1px black inset;
  overflow-x: scroll;
  padding-right: 1vw;
  padding-left: 1vw;
  overflow-y: hidden;
}

#fyp {
  background-image: url("./assets/projects/fyp.gif");
  background-position: right;
}

#gazebo-simulation {
  background-image: url("./assets/projects/gazebo-simulation.gif");
}

#snake-game {
  background-image: url("./assets/projects/snake-game.gif");
}

#firefighter-robot {
  background-image: url("./assets/projects/firefighter-robot.gif");
  background-position: bottom;
}

#khedne-maak {
  background-image: url("./assets/projects/khedne-maak.jpg");
  background-size: contain;
  background-color: white !important;
}

.project {
  height: 40vh;
  max-height: 40vh;
  aspect-ratio: 1;
  background-color: #242424;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 1vw;
  margin-left: 1vw;
  box-shadow: 0px 0px 10px black;
  transition-duration: 0.3s;
}

.project > div {
  opacity: 0;
  height: 100%;
  width: 80%;
  background-color: #242424e8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
}

.project-title {
  text-align: center;
  border-bottom: solid 1px #0099ff;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-size: clamp(20px, 1.5vw, 30px);
}

.project-description {
  text-align: center;
  font-size: clamp(18px, 1.2vw, 25px);

}

.project:hover {
  box-shadow: 0px 0px 30px 5px black;
  cursor: pointer;
  transition-duration: 0.3s;
}

.project:hover > div {
  transition-duration: 0.2s;
  opacity: 1;
}

#scrollRight {
  position: absolute;
  min-height: 65px;
  min-width: 65px;
  height: 4vw;
  width: 4vw;
  right: 0;
  background-color: #373737;
  border-top-left-radius: 7vh;
  border-bottom-left-radius: 7vh;
  box-shadow: -3px 0px 5px black;
  cursor: pointer;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

#scrollLeft {
  position: absolute;
  min-height: 65px;
  min-width: 65px;
  height: 4vw;
  width: 4vw;
  left: 0;
  background-color: #373737;
  border-top-right-radius: 7vh;
  border-bottom-right-radius: 7vh;
  box-shadow: 3px 0px 5px black;
  cursor: pointer;
  display: none;
  z-index: 3;
  align-items: center;
  justify-content: center;
}

#scrollRight > i, #scrollLeft > i {
  font-size: clamp(24px, 3vw, 40px);
  color: #0099ff;
}

#scrollRight > i:hover, #scrollLeft > i:hover{
  filter: drop-shadow(0px 0px 10px black);
}

#footer > .title {
  margin-bottom: 0;
}

#footer-content {
  margin: 5vw;
  margin-top: 2.5vw;
  margin-bottom: 2vw;
  font-size: clamp(16px, 1.5vw, 30px);
  display: flex;
  justify-content: space-between;
}

#contact-info > p {
  margin-bottom: 1vw;
}

#contact-info > p > i {
  color: #0099ff;
  margin-right: 1vw;
  vertical-align: middle;
  font-size: clamp(24px, 2vw, 36px) !important;
}

#media-links {
  height: clamp(75px, 10vw, 900px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#media-links > img {
  height: clamp(30px, 4vw, 100px);
  filter: drop-shadow(0px 10px 10px black);
  transition-duration: 0.1s;
  cursor: pointer;
}

#media-links > img:hover {
  filter: drop-shadow(0px 5px 5px black);
  transition-duration: 0.1s;
}