body {
  margin: 0;
  font-family: "Poppins", "Segoe UI";
}

p,
li,
img {
  margin: 0;
  color: white;
  opacity: 0;
}

li {
  margin-top: 10px;
  margin-bottom: 10px;
}

ul {
  margin: 0;
  opacity: 0;
  text-wrap: nowrap;
  pointer-events: none;
}

::-webkit-scrollbar {
  width: 7px;
  height: 0px;
  background-color: #242424;
}

::-webkit-scrollbar-thumb {
  background-color: #0099ff;
  border-radius: 5px;
}

#wrapper {
  height: 100dvh;
  position: relative;
  perspective: 10px;
  overflow-x: hidden;
  transform-style: preserve-3d;
  background-color: #242424;
}

#profile {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;

  & > div {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:nth-child(1) {
      flex: 0.4;
    }

    &:nth-child(2) {
      flex: 0.6;
    }

    & > p {
      font-size: clamp(36px, 5vw, 70px);
      align-self: center;
      text-align: center;
      margin-top: 5dvh;
      max-width: 80%;
    }

    & > #profile-pic {
      height: 25vw;
      width: 25vw;
      border-radius: 100vw;
      margin: 40px;
      align-self: flex-end;
      background-image: url("./assets/profile.jpg");
      background-size: cover;
      background-position: top center;
      opacity: 0;
    }

    & > #profile-position {
      font-size: clamp(26px, 3vw, 60px) !important;
    }
  }
}

.section-title {
  font-size: clamp(32px, 4vw, 70px);
  margin-top: 10vw;
  margin-bottom: 3vw;
  margin-left: 10vw;
  margin-right: 10vw;
  text-align: center;
}

.section {
  width: 100%;
  position: relative;
  transform-style: preserve-3d;
  background-color: white;
  border-radius: 30px;
  margin-bottom: 5vw;

  & p {
    color: #242424;
  }

  &#experience {
    display: flex;
    background-color: #242424;
    min-height: 75vh;
  }
}

.education {
  position: relative;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;

  & > img {
    object-fit: contain;
    width: 60%;
  }

  & > div {
    width: 26%;
    display: flex;
    flex-direction: column;

    & > img {
      width: 100%;
    }

    & > p {
      &:nth-child(1) {
        align-self: flex-start;
        margin-bottom: 5px;
        font-size: 20px;
      }
      &:nth-child(3) {
        align-self: flex-end;
        margin-top: 5px;
      }
    }
  }

  &#lau {
    justify-content: flex-end;
    transform: translateZ(2px) scale(0.8) translateY(30%);

    & > div {
      margin-right: 7%;
    }
  }

  &#eth {
    justify-content: flex-start;
    transform: translateZ(4.5px) scale(0.55) translateY(-35%);
    max-height: 60%;

    & > div {
      margin-left: 7%;
      transform: translateY(40px);
    }
  }
}

.experience {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & > p {
    color: #c0c0c0;
    text-align: center;
    max-width: 75%;
  }

  & > .experience-title {
    color: white;
    font-size: clamp(26px, 3vw, 60px);
  }

  &#bmw {
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
      url("./assets/experience/bmw.jpg");
    background-attachment: fixed;
    background-position: center;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }

  &#dox {
    background-color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
      url("./assets/experience/dox.png");
    background-attachment: fixed;
    background-position: center;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }
}

#projects {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3vw;
  margin-left: 5vw;
  margin-right: 5vw;

  & > .project {
    aspect-ratio: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition-duration: 0.5s;

    &.project-static-background {
      background-color: white;
      background-position: center;
      background-size: contain;
    }

    & > p {
      max-width: 80%;
      text-align: center;
      color: #242424;
      font-size: 24px;
      opacity: 1;
    }

    &:hover {
      transform: scale(1.1);
    }

    &.blur {
      filter: blur(5px);
    }
  }

  & > #project-details {
    position: absolute;
    z-index: 1;
    width: 50%;
    top: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition-duration: 0.5s;

    & > div {
      background-color: rgba(255, 255, 255, 0.8);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 30px;
      max-width: 75%;
      min-height: 70%;

      & p {
        color: #242424;
        opacity: 1;
      }

      & > #project-title {
        max-width: 80%;
        text-align: center;
        border-bottom: solid 1px #0099ff;
        padding-bottom: 10px;
        margin-bottom: 10px;
        font-size: clamp(20px, 2dvw, 32px);
      }

      & > #project-tags {
        max-width: 80%;
        display: flex;
        justify-content: center;
        min-height: 1vw;
        margin-top: 0.5vw;
        margin-bottom: 1vw;
        flex-wrap: wrap;

        & > p {
          padding: 0.5vw;
          padding-left: 0.7vw;
          padding-right: 0.7vw;
          margin-right: 0.1vw;
          margin-left: 0.1vw;
          margin-top: 0.3vw;
          margin-bottom: 0.3vw;
          border-radius: 2vw;
          word-wrap: break-word;
          white-space: nowrap;
          vertical-align: middle;
          background-color: #373737;
          color: white;
          font-size: clamp(12px, 1dvw, 16px);
        }
      }

      & > #project-description {
        text-align: center;
        font-size: clamp(14px, 1.2dvw, 24px);
        max-width: 80%;
      }
    }

    &.visible {
      opacity: 1;
    }
  }
}

#footer {
  padding-bottom: 5vh;
  padding-top: 5vh;

  & > #contact-info {
    display: flex;
    justify-content: space-around;

    & > p {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: clamp(24px, 1vw, 36px);
      flex: 1;

      & > i {
        margin-bottom: 1vh;
        font-size: clamp(36px, 3vw, 46px);
      }
    }
  }

  & > #media-links {
    display: flex;
    justify-content: center;
    gap: 2vw;
    margin-top: 10vh;

    & > div {
      height: clamp(30px, 6vw, 100px);
      transition-duration: 0.5s;
      cursor: pointer;

      &:hover {
        transform: scale(1.2) !important;
      }

      & > img {
        height: 100%;
        width: 100%;
      }
    }
  }
}
